/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */

/* MARK: Frontend */
.enlarge-me  {
  animation-name: enlargeMe;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;

}

@keyframes enlargeMe {
  
	0% { 
		transform: scale(1);
	}
	
	50% {
		transform: scale(1.5);
	}

  100% {
    transform: scale(1);
  }
}

/* MARK: & */
.translate-me  {
  animation-name: translateMe;
	animation-duration: 1s;
	animation-iteration-count: 1;
  animation-timing-function: ease-out-in;
	animation-direction: alternate;

}

@keyframes translateMe {
  
	0% {
		translate: 0;
	}

  50% {
    translate: 0 -1em;
  }

  100% {
    translate: 0;
  }
}

/* MARK: Development */
.shake-me  {
  animation-name: shakeMe;
	animation-duration: .05s;
	animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
	animation-direction: alternate;
  transform-origin: center;
}

@keyframes shakeMe {
  
	0% {
		transform: translateX(0);
	}

  100% {
    transform: translateX(-.4em);
    rotate: 5deg;
  }
}

/* MARK: Sprint 5 */
@keyframes regenboog {
	100% {
		background-position:right top;
	}
}

li a.color-me {
  color: white;
  border: none;
  background-size: 200% 200%;
	background-position:left bottom;
	background-image: linear-gradient(
    45deg in oklch longer hue,
			orange,
			orange,
			orange
    );
	
	animation: regenboog 2s infinite linear paused;
  animation-play-state: running;
}

/* MARK: & */
.translate-me  {
  animation-name: translateMe;
	animation-duration: 1s;
	animation-iteration-count: 1;
  animation-timing-function: ease-out-in;
	animation-direction: alternate;

}

/* MARK: The */

.the-out  {
  animation-name: rotateMe;
	animation-duration: 2s;
	animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
	animation-direction: alternate;
  transform-origin: center;
}

@keyframes rotateMe {

  100% {
    rotate: 1turn;
  }
}